/*fonts import*/
/* latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0OIpQlx3QUlC5A4PNr4ARCQ_k.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0TIpQlx3QUlC5A4PNr4Az5ZuyDzW0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/notosans/v21/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* CSS */

* {
    margin: 0;
    padding: 0;
}


body {
    background: url(../img/background.jpg) fixed repeat;
}

h1, h2, p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #272727;
}

.grid {
    margin: 50px 100px;
    display: grid;
    max-width: 100%; 
    grid-template-columns: 0.5fr repeat(3, 1.5fr) 0.5fr;
    grid-template-rows: 0.4fr 1fr 0.2fr 1fr 0.4fr; 
    align-items: center;
    justify-items: center;
    background-color: whitesmoke;
}

#title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
}

#credit {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    justify-self: end;
    align-self: end;
    margin: 0 10% 10px 0;
}


.a{
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr; 
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr; 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
}

/* icons within the first grid */
.a > p {
    font-size: 0.8em;
}
.a > h2 {
    font-weight: 700;
    grid-area: 1 / 2 / span 1 /span 2;
}

.fa-html5{
    grid-area: 2 / 1 / span 1 / span 2;
}

#html-text {
    grid-area: 3 / 1 / span 1 / span 2;
    align-self: center;
}

.fa-css3{
    grid-area: 2 / 3 / span 1 / span 1;
}

#css-text {
    grid-area: 3 / 3 / span 1 / span 1;
}

.fa-js-square {
    grid-area: 4 / 2 / span 1 / span 1;
}

#js-text{
    grid-area: 5 / 2 / span 1 / span 1;
}

.fa-laptop-code{
    grid-area: 4 / 3 / span 1 / span 2;
}

#ide-text{
    grid-area: 5 / 3 / span 1 / span 2;
}

.b {
    grid-area: 2 / 3 / span 1 / span 1;
}

.b-text {
    grid-area: 3 / 3 / span 1 / span 1;
}

.c {
    grid-area: 2 / 4 / span 1 / span 1;
}

.c-text {
    grid-area: 3 / 4 / span 1 / span 1;
}

.d {
    grid-area: 4 / 2 / span 1 / span 1;
}

.d-text {
    grid-area: 5 / 2 / span 1 / span 1;
}

.e {
    grid-area: 4 / 3 / span 1 / span 1;
}

.e-text {
    grid-area: 5 / 3 / span 1 / span 1;
}

.f {
    grid-area: 4 / 4 / span 1 / span 1;
}

.f-text {
    grid-area: 5 / 4 / span 1 / span 1;
}

.text {
    justify-self: center;
}

.picture {
    justify-self: center;
}

.b, .c, .d, .e, .f {
    display: flex;
    justify-content: center;
}

img {
    max-width: 80%;
}

@media only screen and (max-width: 1000px){
    .grid {
        margin: 50px 50px;
        display: grid;
        max-width: 100%; 
        grid-template-columns: 0.25fr 2.5fr 0.25fr;
        grid-template-rows: 0.4fr repeat(6, 1fr 0.3fr) 0.4fr; 
        align-items: center;
        justify-items: center;
        background-color: whitesmoke;
        }

        #title {
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            justify-self: center;
            align-self: center;
        }
        
        #credit {
            margin-top: 30px;
            grid-row: 1 / span 1;
            grid-column: 2 / span 1;
            justify-self: end;
            align-self: end;
            margin: 0 10% 10px 0;
        }

    .a{

    }

    .b {
        grid-area: 4 / 2 / span 1 / span 1;
    }

    .b-text {
        grid-area: 5 / 2 / span 1 / span 1;
    }

    .c {
        grid-area: 6 / 2 / span 1 / span 1;
    }

    .c-text {
        grid-area: 7 / 2 / span 1 / span 1;
    }

    .d {
        grid-area: 8 / 2 / span 1 / span 1;
    }

    .d-text {
        grid-area: 9 / 2 / span 1 / span 1;
    }

    .e {
        grid-area: 10 / 2 / span 1 / span 1;
    }

    .e-text {
        grid-area: 11 / 2 / span 1 / span 1;
    }

    .f {
        grid-area: 12 / 2 / span 1 / span 1;
    }

    .f-text {
        grid-area: 13 / 2 / span 1 / span 1;
    }
}